.footer {
    width: 100%;
    padding: 3vh;
    font-size: 86%;
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-direction: column;
    color: var(--lighter-txt-color);
}

.icon {
    color: inherit;
    margin: 0 3px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3em;
    color: var(--lighter-txt-color);
}

.contact {
    font-size: 1rem;
    font-weight: bold;
}

@media screen and (min-width: 701px){
    .icon>svg {
        transition: color ease .1s;
    }

    .icon>svg:hover {
        color: var(--main-txt-color);
    }
}

.icon_container {
    display: inline;
    margin-bottom: 1rem;
}