.toc_ul {
    padding: .5em 1em;
    margin: 6em 0 0;
    position: sticky;
    top: 70px;
    font-size: .86em;
    width: 240px;
    border-left: solid 7px var(--code-bd-color);
}

.toc_li::marker {
    content: "";
}

.toc_li {
    line-height: 1.5em;
}
.toc_li+.toc_li {
    margin-top: .75em;
}

.toc_a {
    color: var(--lighter-txt-color);
    text-decoration: none;
    font-weight: bold;
    transition: color ease .1s;
}

.toc_a:hover {
    color: var(--main-txt-color);
}