.share_links {
    margin-top: 2em;
    display: flex;
    justify-content: flex-end;
}
.share_link {
    font-size: 1.15em;
}
.share_link+.share_link{
    margin-left: .5em;
    color: var(--lighter-txt-color);
    transition: color ease .1s;
}
.share_link+.share_link:hover{
    color: var(--main-txt-color);
}
.share_link:first-child {
    font-weight: bold;
    margin-right: auto;
}