:root {
  --main-txt-color: #dce4e1;
  --main-bg-color: #262330;
  --info-txt-color: #9aafb4;
  --lighter-txt-color: #687175;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-txt-color: #262330;
    --main-bg-color: #f1f3f1;
    --info-txt-color: #7b8489;
    --lighter-txt-color: #a0a7a6;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--main-txt-color);
  background: var(--main-bg-color);
  line-height: 1.9;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
    min-height: 100vh;
}

main {
    padding: 0 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
  padding: 0 0 3rem;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 900px){
  article {
    flex-direction: column;
    align-items: center;
  }

  side {
    display: none;
  }
}
@media screen and (max-width: 700px){
  html,
  body {
    font-size: 17px;
  }
}