html,
body {
  padding: 0;
  margin: 0;
  color: #dce4e1;
  background: #262330;
  line-height: 1.9;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
    min-height: 100vh;
}

main {
    padding: 1rem 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}