.markdown code {
  border-radius: 2px;
  color: #ce9178;
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", "Meiryo", "Osaka-Mono", monospace;
  font-size: 80%;
}

:not(pre)>code {
  background: #1e1e1e;
  border: 1px solid #37393a;
  margin: 0 0.1em;
  padding: 0.15em 0.25em;
  vertical-align: 0.1em;
  word-break: break-all;
}

.markdown strong {
  font-weight: bold;
}
.markdown em {
  font-style: italic;
}
.markdown u {
  text-decoration: underline;
}

.markdown p {
  margin: 0.5em 5px 0.8em;
}
.markdown a {
  color: #72c1e0;
  text-decoration: none;
  font-weight: bold;
}
.markdown a:hover {
  text-decoration: underline;
}
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6{
  line-height: 1.25;
  font-weight: bold;
}

.markdown h1 {
  margin: 1.5em 5px 0em;
  font-size: 180%;
}
.markdown p+h1 {
  margin: 1.5em 5px 0em;
  font-size: 180%;
}
.markdown h2 {
  margin: 0.5em 5px 0.2em;
  font-size: 155%;
}
.markdown p+h2 {
  margin: 1em 5px 0.2em;
  font-size: 155%;
}
.markdown h3 {
  margin: 0.5em 5px 0em;
  font-size: 134%;
}
.markdown h4 {
  margin: 0.5em 5px 0em;
  font-size: 115%;
}
.markdown blockquote {
  border-left: 7px #535963 solid;
  color: #b3c4ca;
  margin: 0.8em 6px;
  padding: 0 0.75em;
}

.markdown img {
  width: 100%
}